body {
    background-image: url(../img/myPageBackground.png);
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto;
    line-height: 1.6em;
}

.container {
    width: 80%;
    margin: 0;
    
}




.welcome {
    background-color: black;
    color: white;
    border: 5px whitesmoke solid;
    padding: 20px;
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 5px;
    
}

.welcome p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.about {
    text-align: center;
    font-family: Arial;
    padding: 20px;
    width: 20%;
    line-height: 1.6em;
}

.about h2 {
    font-family: broadway, Helvetica, sans-serif;
}

.course {
    width: 10%;
    padding: 20px;
    position: absolute;
    right: 50%;
    top: 25%;
    
    
}


.course img {
    width: 300px;
    height: 300px;
    
}

.course1 {
    position: absolute;
    top: 28%;
    right: 8.5%;
    padding: 20px;
    margin-right: auto;
    width: 20%;
    line-height: 1.6em;
    text-align: center;
    border-radius: 20px;
    border: 3px white solid;
    background-color: black;
    color: white;
}



.faves h2 {
    text-align: center;
    font-family: broadway, Helvetica, sans-serif;
    padding: 20px;
    width: 20%;
    line-height: 1.6em;
}

.faves ul {
    padding-left: 0;
    text-align: center;
    width: 20%;
    color: white;
    font-family: Arial;
    
}

.faves a {
    color: black;
    text-decoration: none;
    
}





#main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   
    text-align: center;
}

